twitter:
  stewgate:
    token: 'Your stewgate token'
    post_api: 'http://stewgate-u.appspot.com/api/post/'
  account:
    yourself: 'Your twitter account name'
box:
  username: 'Your username'
  password: 'Your password'
  server: 'ftp.box.com'
  upload_folder: '/pictures'